<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit a Player</title>
  </head>
  <body>
    <h1>Edit a Player</h1>
        <form action="/players/<%=player._id%>?_method=PUT" method="POST"> <!--Overriding POST method with PUT, middlewear Method Override-->
            <label for="name"> Name: </label>
            <input type="text" name="name" id="name" value="<%=player.name%>" />

            <label for="position"> Position: </label>
            <select name="position" id="position" value="<%=player.position%>" > 
                <option value="GK" <%= player.position === "GK" ? "selected" : "" %> > GK </option> <!-- using ternary operator to set default value as whatever was previously listed -->
                <option value="LB"  <%= player.position === "LB" ? "selected" : "" %> >LB</option> <!-- learned this in skyrockut lecture -->
                <option value="CB"  <%= player.position === "CB" ? "selected" : "" %> >CB</option>
                <option value="RB"  <%= player.position === "RB" ? "selected" : "" %> >RB</option>
                <option value="CDM" <%= player.position === "CDM" ? "selected" : "" %> >CDM</option>
                <option value="CM"  <%= player.position === "CM" ? "selected" : "" %> >CM</option>
                <option value="CAM" <%= player.position === "CAM" ? "selected" : "" %> >CAM</option>
                <option value="LW"  <%= player.position === "LW" ? "selected" : "" %> >LW</option>
                <option value="RW"  <%= player.position === "RW" ? "selected" : "" %> >RW</option>
                <option value="CF"  <%= player.position === "CF" ? "selected" : "" %> >CF</option>
                <option value="ST"  <%= player.position === "ST" ? "selected" : "" %> >ST</option>
            </select>

            <label for="number"> Number: </label>
            <input type="number" name="number" id="number" value="<%=player.number%>" />

            <label for="isStarter"> Is Starter: </label>
            <input type="checkbox" name="isStarter" id="isStarter" <% if (player.isStarter === true) { %> checked <% } %> />

            <button type="submit"> Edit Player </button>
        </form>

        <a href="/players"> Back to Squad </a>
  </body>
</html>